<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssac.expro.kewen"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <application
        android:name=".ExproApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".service.MainService" >
        </service>

        <activity android:name=".TheatreActivitiesDetail" >
        </activity>
        <activity android:name=".Client_Map" >
        </activity>
        <activity android:name=".BasicMapActivity" >
        </activity>
        <activity
            android:name=".Activity_Home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoverFlowExample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FilmDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HuizhanDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".YitanDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".YingyuanDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".YingyuanActivitiesDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MoreAbountDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TheatreYanchuDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_SlidingMenue"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Art"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_VIP"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_More"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MoreVersionUpdateDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MoreContactDetail"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name=".Activity_Yetai"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>